﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sainath Gulla<br />
    1115 N College Dr, APT 73<br />
    Missouri, MO 64468<br />
    <abbr title="Phone">P:</abbr>
    660.528.0936
</address>
<img src="~/images/Sainath.jpg" alt="ASP.NET" height="350" width="300" />

<address>
    <strong>Support:</strong> <a href="mailto:s528134@nwmissouri.edu">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:s528134@nwmissouri.edu">Marketing@example.com</a>
</address>
